# **Missing Value in R**

Bab ini akan memperkenalkan apa dan kenapa missing value. Pelajari mengenai representasi missing value ini dalam bentuk NA, NaN, NULL dengan variasi dan perilakunya. Dan bagaimana cara mengelola missng value di R

# **NA dan default type**

In [ ]:
#Ketik nilai NA
NA

#Tampilkan type dari NA dengan function typeof
typeof(NA)

# **Menggunakan function is.na**

In [ ]:
#Buat variable x yang diisi dengan nilai NA
x <- NA

#Pengecekan variable x dengan nilai NA menggunakan operator ==
x == NA

#Pengecekan variable x dengan nilai NA menggunakan function is.na
is.na(x)

# **Variasi NA dan is.na**

In [ ]:
typeof(NA_integer_)
typeof(NA_real_)
typeof(NA_complex_)
typeof(NA_character_)
is.na(NA_integer_)
is.na(NA_real_)
is.na(NA_complex_)
is.na(NA_character_)

# **Coercion pada Vector yang mengandung NA**

In [ ]:
#Membuat vector bernama isi.vector dengan isi bilangan, dimana salah satunya memiliki missing value
isi.vector = c(1, 2, 3, NA, 3, 1)

#Mengecek keseluruhan tipe data dengan perulangan lapply dan typeof
lapply(isi.vector, typeof)

#Menggunakan is.na untuk mengecek keberadaan missing value dari tiap elemen pada vector 
is.na(isi.vector)

# **NULL dan Vector**

In [ ]:
#Membuat vector dengan 7 elemen termasuk NA dan NULL
isi.vector <- c(1,2,3,NA,5,NULL,7)

#Menghitung jumlah elemen dari isi.vector
length(isi.vector)

# **NULL dan L**ist

In [ ]:
#Membuat list dengan 3 elemen termasuk NA dan NULL 
 isi.list <- list(1, NULL, 3, NA, 5)

#Menghitung jumlah elemen dari isi.list
length(isi.list)

# **Inf untuk mewakili Infinite Number**

In [ ]:
#Hitung kalkulasi 5 dibagi dengan 0
5/0

#Hitung kalkulasi -120 dibagi dengan 0
-120/0

# **NaN (Not a Number)**

In [ ]:
#Hitung kalkulasi 0 dibagi dengan 0
0/0

# **NaN dari hasil function log()**

In [ ]:
#Hitung logaritma dari angka -1000
log(-1000)

# **Fungsi is.nan**

In [ ]:
#Buat variable contoh.nan
contoh.nan <- 0/0

#Periksa dengan function is.nan
is.nan(contoh.nan)

# **NaN dan is.na versus NA dan is.nan**

In [ ]:
#Masukkan code di bawah ini sesuai permintaan soal
is.na(NaN)
is.nan(NA)

# **Menghitung Jumlah Missing Values dari satu Vector**

In [ ]:
#Masukkan code di bawah ini sesuai permintaan soal
isi.vector <- c(1,2,NA,4,5,NaN,6)
sum(is.na(isi.vector) == TRUE)