# **Pengenalan Matplotlib dan Persiapan Dataset**

Pada bagian ini akan dibahas pengenalan matplotlib dan persiapan dataset.

# **Pengenalan Dataset**

In [1]:
import pandas as pd
dataset = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/retail_raw_reduced.csv")
print("Ukuran dataset: %d baris dan %d kolom\n" % dataset.shape)
print("Lima data teratas:")
print(dataset.head())

Ukuran dataset: 5000 baris dan 9 kolom

Lima data teratas:
   order_id  order_date  customer_id             city     province product_id  \
0   1703458  2019-10-17        14004  Jakarta Selatan  DKI Jakarta      P1910
1   1706815  2019-10-24        17220  Jakarta Selatan  DKI Jakarta      P2934
2   1710718  2019-11-03        16518    Jakarta Utara  DKI Jakarta      P0908
3   1683592  2019-08-19        16364    Jakarta Barat  DKI Jakarta      P0128
4   1702573  2019-10-16        15696    Jakarta Timur  DKI Jakarta      P2968

     brand  quantity  item_price
0  BRAND_J        10      740000
1  BRAND_R         2      604000
2  BRAND_C         8     1045000
3  BRAND_A         4      205000
4  BRAND_R         2     4475000

# **Penambahan Kolom Order Month pada Dataset**

In [2]:
import pandas as pd
import datetime

dataset = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/retail_raw_reduced.csv')

dataset['order_month'] = dataset['order_date'].apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d").strftime('%Y-%m'))
print(dataset.head())

   order_id  order_date  customer_id             city     province product_id  \
0   1703458  2019-10-17        14004  Jakarta Selatan  DKI Jakarta      P1910
1   1706815  2019-10-24        17220  Jakarta Selatan  DKI Jakarta      P2934
2   1710718  2019-11-03        16518    Jakarta Utara  DKI Jakarta      P0908
3   1683592  2019-08-19        16364    Jakarta Barat  DKI Jakarta      P0128
4   1702573  2019-10-16        15696    Jakarta Timur  DKI Jakarta      P2968

     brand  quantity  item_price order_month
0  BRAND_J        10      740000     2019-10
1  BRAND_R         2      604000     2019-10
2  BRAND_C         8     1045000     2019-11
3  BRAND_A         4      205000     2019-08
4  BRAND_R         2     4475000     2019-10

# **Penambahan Kolom GMV pada Dataset**

In [3]:
import pandas as pd
import datetime

dataset = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/retail_raw_reduced.csv')
dataset['order_month'] = dataset['order_date'].apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d").strftime('%Y-%m'))

dataset['gmv'] = dataset['item_price']*dataset['quantity']
print('Ukuran dataset: %d baris dan %d kolom\n' % dataset.shape)
print('Lima data teratas:')
print(dataset.head())

Ukuran dataset: 5000 baris dan 11 kolom

Lima data teratas:
   order_id  order_date  customer_id             city     province product_id  \
0   1703458  2019-10-17        14004  Jakarta Selatan  DKI Jakarta      P1910
1   1706815  2019-10-24        17220  Jakarta Selatan  DKI Jakarta      P2934
2   1710718  2019-11-03        16518    Jakarta Utara  DKI Jakarta      P0908
3   1683592  2019-08-19        16364    Jakarta Barat  DKI Jakarta      P0128
4   1702573  2019-10-16        15696    Jakarta Timur  DKI Jakarta      P2968

     brand  quantity  item_price order_month      gmv
0  BRAND_J        10      740000     2019-10  7400000
1  BRAND_R         2      604000     2019-10  1208000
2  BRAND_C         8     1045000     2019-11  8360000
3  BRAND_A         4      205000     2019-08   820000
4  BRAND_R         2     4475000     2019-10  8950000